<%- partial('common/head') %>

    <body>
        <div id="container">
            <%- partial('common/header') %>
                <div class="outer">
                    <% if (theme.customize.profile.enabled) { %>
                        <%- partial('common/profile', null, {cache: !config.relative_link}) %>
                            <% } %>
                                <section id="main"><%- body %></section>
                                <% if (theme.customize.sidebar) { %>
                                    <%- partial('common/sidebar') %>
                                        <% } %>
                </div>
                <%- partial('common/footer', null, {cache: !config.relative_link}) %>
                    <%- partial('common/scripts') %>
                        <%- js('js/sidebar') %>
        </div>

        <!-- 固定在左下角的侧边栏切换按钮 -->
        <div id="sidebar-toggle-btn">
            <i class="fa fa-angle-double-left"></i>
        </div>

        <div id="mobile-panel-mask"></div>
    </body>

    </html>
