<%- partial('common/head') %>

    <body>
        <div id="container">
            <%- partial('common/header') %>
                <div class="outer">
                    <% if (theme.customize.profile.enabled) { %>
                        <%- partial('common/profile', null, {cache: !config.relative_link}) %>
                            <% } %>
                                <section id="main"><%- body %></section>
                                <% if (theme.customize.sidebar) { %>
                                    <%- partial('common/sidebar') %>
                                        <% } %>
                </div>
                <%- partial('common/footer', null, {cache: !config.relative_link}) %>
                    <%- partial('common/scripts') %>
                        <%- js('js/sidebar') %>
        </div>

        <!-- 固定在左下角的侧边栏切换按钮 -->
        <div id="sidebar-toggle-btn">
            <i class="fa fa-angle-double-left"></i>
        </div>

        <!-- 回到顶部按钮 -->
        <div id="toTop" title="回到顶部">
            <i class="fa fa-arrow-up"></i>
        </div>

        <script>
            $(document).ready(function () {
                // 回到顶部按钮功能
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 200) {
                        $('#toTop').fadeIn();
                    } else {
                        $('#toTop').fadeOut();
                    }
                });

                $('#toTop').click(function () {
                    $('html, body').animate({
                        scrollTop: 0
                    }, 400);
                    return false;
                });
            });
        </script>
    </body>

    </html>